.popular_causes_area-new .single_cause .thumb img {
    width: 100%;
    transform: scale(1);
    transition: 0.3s;
}

.causes_active-new  {
    display: flex;
    flex-wrap: wrap;
}

.causes_active-new .single_cause {
    flex: 0 0 25%;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5%;
    justify-content: space-between;
    margin-left: 5%;
}

@media (max-width: 991px) {
    .popular_causes_area-new .single_cause {
        flex: 0 0 48%;
    }
}

@media (max-width: 767px) {
    .popular_causes_area-new .single_cause {
        flex: 0 0 100%;
    }
}

.popular_causes_area-new .single_cause .causes_content {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 30px 30px 34px 30px;
    position: relative;
    border-radius: 0 0px 7px 7px;
}

.popular_causes_area-new .single_cause .causes_content .custom_progress_bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.popular_causes_area-new .single_cause .causes_content .custom_progress_bar .progress {
    height: 12px;
    font-size: 12px;
    background-color: #FF4F42;
    border-radius: 0;
}

.popular_causes_area-new .single_cause .causes_content .custom_progress_bar .progress .progress-bar {
    background-color: #3CC78F;
    position: relative;
}

.popular_causes_area-new .single_cause .causes_content .custom_progress_bar .progress .progress-bar .progres_count {
    margin-bottom: 50%;
    position: absolute;
    right: 0;
    width: 40px;
    height: 60px;
    border-radius: 50%;
    font-size: 25px;
    background: #3CC78F;
    line-height: 60px;
    margin-top: -20px;
}

@media (max-width: 767px) {
    .popular_causes_area-new .single_cause .causes_content .custom_progress_bar .progress .progress-bar .progres_count {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }
}

.popular_causes_area-new .single_cause .causes_content .balance {
    padding-bottom: 20px;
    margin-top: 35px;
    border-bottom: 0;
    padding-right: 5%;
    justify-content: space-between;
}

.popular_causes_area-new .single_cause .causes_content span {
    padding-right: 15%;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .popular_causes_area-new .single_cause .causes_content .balance {
        margin-bottom: 0;
    }
}

.popular_causes_area-new .single_cause .causes_content .balance span {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.popular_causes_area-new .single_cause .causes_content h4 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0px;
}

@media (max-width: 767px) {
    .popular_causes_area-new .single_cause .causes_content h4 {
        font-size: 25px;
    }
}

.popular_causes_area-new .single_cause .causes_content p {
    margin-bottom: 15px;
    color: #7A7B7C;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

.popular_causes_area-new .single_cause:hover .thumb img {
    transform: scale(1.05);
}

.popular_causes_area-new .single_cause {
    margin-bottom: 35px;
}

.popular_causes_area-new .single_cause .thumb {
    border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.popular_causes_area-new .single_cause .thumb img {
    width: 100%;
    transform: scale(1);
    transition: 0.3s;
}
