/* MapComponent.css */

/* تعيين حجم الخريطة */
.map-container {
  height: 480px;
  width: 100%;
}

.contact-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.contact-title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 40px;
}

.contact-info-container {
  margin-top: 5%; /* تقليل المسافة من الأعلى */
  margin-left: 9%;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px; /* مسافة بين العناصر */
}

.contact-info__icon {
  font-size: 24px; /* حجم الأيقونات */
  /* color: #777; لون الأيقونات أفتح */
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle; /* محاذاة وسط الأيقونة بالنسبة للنص */
  margin-top: -5px; /* رفع الأيقونات للأعلى */
}

.contact-form-container, 
.contact-info-container {
  flex: 1; /* يجعل كلا العنصرين يأخذان نفس العرض */
  min-width: 300px; /* أقل عرض مقبول */
  padding: 20px;
  box-sizing: border-box;
  margin-left: 10%;
}

.contact-info-new {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; /* إضافة خط سفلي */
  padding-bottom: 15px; /* إضافة مسافة تحت كل عنصر */
}

.contact-info__icon i {
  font-size: 30px; /* تكبير حجم الأيقونات */
  color: #777; /* تغيير لون الأيقونات إلى لون رمادي فاتح */
}

.media-body h3 {
  font-size: 15px; /* تكبير حجم الخط */
  font-weight: 600; /* جعل الخط أكثر سمكًا */
  margin-bottom: 5px; /* مسافة صغيرة بين العنوان والوصف */
  color: #000; /* لون النص الأساسي */
}

.media-body p {
  font-size: 14px; /* حجم أصغر للوصف */
  color: #777; /* لون الوصف */
  margin: 0;
}

.form-contact {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

.button-contactForm {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-contactForm:hover {
  background-color: #45a049;
}
