.news__areaa {
    background: #F3FCF8;
    padding: 40px 0;
    display: flex;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 80%;
}

.news__areaa::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.news__areaa .single__bloga {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 7px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 50%;
}

.single__bloga .thuma {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.single__bloga .thuma img {
    width: 100%;
    height: auto;
    display: block;
}

.single__bloga .newsinfoa {
    padding: 20px;
    width: 50%;
    text-align: left;
}

.newsinfoa span {
    font-size: 14px;
    font-weight: 600;
    color: #222222;
    font-family: "Open Sans", sans-serif;
}

.newsinfoa h3 {
    font-size: 20px;
    color: #222222;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.newsinfoa p {
    font-size: 16px;
    line-height: 1.5;
    color: #7A7B7C;
    margin: 15px 0;
}

.newsinfoa .read_morea {
    font-size: 14px;
    font-weight: 600;
    color: #009688;
    text-decoration: none;
}

.newsinfoa .read_morea:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .news__areaa {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
    }

    .news__areaa .single__bloga {
        width: 100%;
        flex-direction: column;
    }

    .single__bloga .thuma, 
    .single__bloga .newsinfoa {
        width: 100%;
    }
}
