.reson_area .single_reson {
  position: relative;
}

.rowe {
  justify-content: center;
}

@media (max-width: 767px) {
  .reson_area .single_reson {
      margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .reson_area .single_reson {
      margin-bottom: 40px;
  }
}

.reson_area .single_reson .thume {
  margin-right: 84px;
  padding-bottom: 84px;
  display: flex;
  justify-content: right;
}

.reson_area .single_reson .thume .thum_1e {
  border-radius: 9px;
  overflow: hidden;
}

.reson_area .single_reson .thume .thum_1e img {
  width: 100%;
  border-radius: 9px;
  transition: transform 0.3s;
}

.reson_area .single_reson .help_contente {
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 47px 15px 33px 15px;
  left: 46px;
}

.reson_area .single_reson .help_contente h4 {
  font-style: oblique;
  font-weight: bold;
  font-size: 20px;
}

.reson_area .single_reson .help_contente p {
  margin-top: 21px;
  margin-bottom: 30px;
}

.reson_area .single_reson .help_contente .read_more {
  font-size: 16px;
  color: #BCBDBF;
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  padding-left: 68px;
}

.reson_area .single_reson .help_contente .read_more::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 36px;
  height: 2px;
  background: #707070;
  content: '';
  transform: translateY(-50%);
  transition: background 0.3s;
}

.reson_area .single_reson .help_contente .read_more:hover {
  color: #3CC78F;
}

.reson_area .single_reson .help_contente .read_more:hover::before {
  background: #3CC78F;
}

.reson_area .single_reson:hover .thume img {
  transform: scale(1.1);
}
